@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select:none;
}
body{
	margin:0;
	padding:0;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;	
}
#wrap{
	width:1024px;
	height:768px;
	overflow:hidden;
	position:relative;
	
}
#text{
	position:absolute;
	text-align:center;
	width:500px;
	height:50px;
	top:400px;
	left:200px;
	color:#000;
	display:none;
}
ul#title{
	overflow:hidden;
	position:absolute;
	top:387px;
	left:60px;
	width:377px;
	height:204px;
	z-index:5;
}
ul#title li{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
ul#title li:nth-child(1){
	background:url(../images/Step-01.png) no-repeat;
	width:377px;
	height:160px;
}
ul#title li.act:nth-child(1){
	display:block;
}
ul#title li:nth-child(2){
	background:url(../images/Step-02.png) no-repeat;
	width:321px;
	height:176px;
}
ul#title li.act:nth-child(2){
	display:block;
}
ul#title li:nth-child(3){
	background:url(../images/Step-03.png) no-repeat;
	width:252px;
	height:117px;
}
ul#title li.act:nth-child(3){
	display:block;
}
ul#stat{
	overflow:hidden;
	position:absolute;
	top:647px;
	left:56px;
	width:140px;
	height:40px;
	z-index:5;
}
ul#stat li{
	position:absolute;
	top:0px;
	left:0px;
	width:37px;
	height:37px;
	background:url(../images/button.png) no-repeat;
}
ul#stat li:nth-child(1){
	background-position:0 0;
}
ul#stat li.act:nth-child(1){
	background-position:0 -45px;
}
ul#stat li:nth-child(2){
	background-position:-51px 0;
	left:51px;
}
ul#stat li.act:nth-child(2){
	background-position:-51px -45px;
}
ul#stat li:nth-child(3){
	background-position:-102px 0px;
	left:102px;
}
ul#stat li.act:nth-child(3){
	background-position:-102px -45px;
}
#btn_popup{
	position:absolute;
	top:565px;
	left:844px;
	width:121px;
	height:150px;
	z-index:5;
}
#popup{
	background:url(../images/Textbox-background.jpg) no-repeat;
	width:469px;
	height:768px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:6;
	display:none;
}
#close{
	position:absolute;
	width:50px;
	height:50px;
	top:40px;
	right:37px;
}
#scroll_wrap{
	width:387px;
	height:520px;
	margin:190px 0 0 25px;
	position:relative;
	overflow:hidden;
}
#items{
	position:absolute;
	top:0px;
	left:0px;
}
#scroll_status{
	position:absolute;
	top:190px;
	right:30px;
	background:url(../images/scroll-icon.gif) no-repeat;
	width:20px;
	height:40px;
}
#seri{
	position:absolute;
	top:182px;
	left:362px;
	width:504px;
	height:586px;
	overflow:hidden;
	z-index:1;
}
#mask{
	width:1024px;
	height:768px;
	overflow:hidden;
	top:0px;
	left:0px;
	position:absolute;
	background:url(../images/8.2_Serverlap_background.png) no-repeat;
	z-index:2;
}